.main {
    background-color: beige;
    width: 12vw;
    max-height: calc(100vh - 20vh);
    box-shadow: 4px 4px 15px 1px ;
    padding: 0.5rem;
    border-radius: 10px;
    position: sticky;
    top: 12vh;
    z-index: 997;
}

.main > h1 {
    text-align: center;
    font-size: large;
    margin-bottom: 0.3rem;
}

.ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ul > li {
    border: 1px solid black;
    margin: 0.1rem;
}