.diferenciais {
    display: flex;
}

.diferenciais ul {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 2rem;
    justify-content: center;
}

.diferenciais ul li button {
    background-color: rgb(5, 73, 172);
    width: 8rem;
    height: 2.5rem;
    margin: 0.3rem;
    color: white;
    border-radius: 15px;
    border: none;
    text-align: center;
    padding: 0.5rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.diferenciais ul li button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(5, 73, 172, 0.6);
    transform: scale(1.05);
}

.diferencial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 50vw;
}

.diferencial h1 {
    text-align: center;
    padding-bottom: 1rem;
}

.diferencial h2 {
    padding-bottom: 1rem;
}

.diferencial button {
    width: 8rem;
    height: 2rem;
    color: white;
    background-color: rgb(5, 73, 172);
    border-radius: 20px;
    margin-top: 5%;
}