* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.newscard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    width: 100%;
    height: 100%;
}

.previewimg {
    width: auto;
    max-width: 600px;
    border-radius: 15px;
}

.info > h1 > a {
    text-decoration: none;
    color: inherit;
}