* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.newscard > a {
    text-decoration: none;
}

.firstsec{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}